@using ProgressiveTaxCalculator.Model.Objects;
@model ProgressiveTaxViewModel

@{
    ViewData["Title"] = "Tax Calculator";
}

<div>
    <form asp-action="Index" asp-controller="Home" method="post">
        <h1 class="display-4">Welcome To The Salary Calculator</h1>
        <p>Please select the below postal code and enter your gross amount.</p>
        <p>Please also note the calculation are based on an annual interval.</p>
        <div class="form-group">
            <label asp-for="PostalCodeId">Select Postal Code:</label>
            <select asp-for="PostalCodeId" asp-items="new SelectList(Model.PostalCodes, nameof(PostalCodeResponse.id), nameof(PostalCodeResponse.name))" class="form-control">
                <option value="">Select a postal code</option>
            </select>
            <span asp-validation-for="PostalCodeId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GrossAmount">Enter Gross Amount:</label>
            <input asp-for="GrossAmount" class="form-control" />
            <span asp-validation-for="GrossAmount" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
@if (!string.IsNullOrEmpty(ViewBag.ResultMessage))
{
    <div class="alert alert-success">
        @ViewBag.ResultMessage
    </div>
}